* body{
  background-color: skyblue;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  font-weight: bolder;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: blue;
}

.footer-container {
  padding:20px;
  display: flex;
  align-items: center;
}
